{% extends "base.html" %}

{% block auth_content %}
<div class="login-wrap">
    <div class="login-card">
        <h2>Sign In</h2>
        <p class="muted">Savannah Stores</p>

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <label for="id_username">Username</label>
            {{ form.username }}

            <label for="id_password">Password</label>
            {{ form.password }}

            <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}
